body {
    background-color: #ccc;
}

.card {
    border-radius: 15px;
}

.calendar .row {
    margin-top: 10px;
}

.btn {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

.btn-primary {
    background-color: #24529b;
}

.btn-secondary {
    background-color: #cccccc;
}

.btn-sm {
    padding: 8px;
}
